h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
   background-color: #ffffff;
    font-family: "Roboto", sans-serif; 
    color: #434455;
    line-height: 1.5;
    
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;


  outline: 2px solid red;
  outline-offset: -2px;
}
section{
  padding-bottom: 120px;
  padding-top: 120px;
}
.logo{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #4d5ae5 ;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 18px;
  text-transform: uppercase;
}
.logo-accent{
  color: #2E2F42;
  font-family: "Roboto", sans-serif;
}

.nav-list{
  list-style-type: none;
  
}

.nav-link{
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2E2F42;
  letter-spacing: 0.02em;

}
.nav-link:hover,
.nav-link:focus {
  color: #404BBF;
}
.nav-link.active{
  color: #2E2F42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;


}
.nav-link.active:hover,
.nav-link.active:focus,
.nav-link.active :active{
  color: #404BBF;
  text-decoration: underline;
}
  

address{
  font-style: normal;
  
}
.address-list{
  list-style-type: none;
}
.contact-link{
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus{
  color: #404BBF;
}
 


  .hero{
    background-color: #2E2F42;

 width: 1440px;
 height: 600px;
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

   
  } 
 
  .hero-title{
    width: 496px;
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
  margin: auto;

;
  }
  .hero-btn {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 500;
   width: 169px;
   height: 56px;
    ;
    
  
  }
 .hero-btn:hover,
 .hero-btn:focus{
    background-color: #404BBF;
    ;

  }
  .features-item{
    width: 264px;
  }
  .features-list{
    list-style: none;
    display: flex;
    gap: 24px;
  }
.features-title{
  
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  line-height: 1.2;
}
.features-text{

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-size: 16px;
}
.team{
  background-color: #F4F4FD;
}
.team-list{
  list-style: none;
}
.team-title{
  
  font-size: 36px;
  letter-spacing: 0.02em;
  color:#2E2F42;
  text-align: center;
  line-height: 1.11;
  text-transform: capitalize;
}
.team-item{
  background-color: #ffffff;
  
}
.name-team{
  
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  line-height: 1.2;
}
.team-text{
  color: #434455;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-title{
color: #2E2F42;
font-size: 36px;
letter-spacing: 0.02em;
text-align: center;
line-height: 1.11;
text-transform: capitalize;
}
 .portfolio-list{
  list-style: none;
 }
 .portfolio-item{
  background-color: #ffffff;
 }
 .gruppe-portfolio{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  line-height: 1.2;
 }
 .portfolio-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
 }
 .site-footer{
  background-color: #2E2F42;
  
 }
  .logo-accent-footer{
    color: #F4F4FD;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
  }
  .footer-text{
    color: #F4F4FD;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }


